<!-- Home page is basically just a table of the items, one per line, with an "Add Item" button to add a new item. -->

    <div class="container">
        <div class="row col-xs-12 home-button-bar">
            <button class="button button-primary" ng-click="showItemDetail(null)">Add Item</button>
        </div>
        <div class="row row-content">
            <div class="col-xs-12 col-sm-9">
                <div ng-if="!showItems">
                    <!-- Potential "Loading..." message -->
                    <h3>{{message}}</h3>
                </div>
                <!-- Main content is a table, with an ng-repeat over the items from the database -->
                <!-- Sorting by any column is supported. Items can be deleted via a "Delete" button on each line -->
                <div class="media" ng-if="showItems">
                    <table class="table table-bordered table-striped mytable-hover">
                        <thead>
                        <tr>
                          <td>
                            <a href="#" ng-click="sortType = 'itemRef'; sortReverse = !sortReverse">
                            Item Ref
                            <span ng-show="sortType == 'itemRef' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'itemRef' && sortReverse" class="fa fa-caret-up"></span>
                          </td>
                          <td>
                            <a href="#" ng-click="sortType = 'description'; sortReverse = !sortReverse">
                            Description
                            <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                          </td>
                          <td>
                            <a href="#" ng-click="sortType = 'location'; sortReverse = !sortReverse">
                            Location
                            <span ng-show="sortType == 'location' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'location' && sortReverse" class="fa fa-caret-up"></span>
                          </td>
                          <td>
                            <a href="#" ng-click="sortType = 'note'; sortReverse = !sortReverse">
                            Note
                            <span ng-show="sortType == 'note' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'note' && sortReverse" class="fa fa-caret-up"></span>
                          </td>
                          <td>
                          </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in items | orderBy:sortType:sortReverse">
                          <td ng-click="showItemDetail(item._id)">{{ item.itemRef }}</td>
                          <td ng-click="showItemDetail(item._id)">{{ item.description }}</td>
                          <td ng-click="showItemDetail(item._id)">{{ item.location }}</td>
                          <td ng-click="showItemDetail(item._id)">{{ item.note }}</td>
                          <td><button type="button" ng-click="deleteItem(item._id)">Delete</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
